<h1>New addition</h1>

<form action="/wizard_add">
  <label for="first_number">Add</label>
  <input type="text" id="first_number" name="first_number"></input>

  <label for="second_number">to:</label>
  <input type="text" id="second_number" name="second_number"></input>

  <button>Add!</button>
</form>
